/* Import Tailwind dan Google Fonts */
@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=VT323&display=swap");
/* Konfigurasi Tema Utama (Pengganti tailwind.config.js untuk tema)
*/
@theme {
  /* Definisikan warna-warna kustom Anda di sini */
  --color-primary: #121212;
  --color-card: #ffffff;
  --color-secondary: #eef2ff;
  --color-font-primary: #f9f9f9;
  --color-button: #16a34a;
  --color-shadow: #d1d5db;
  --color-card-font: #1f2937;

  /* Definisikan font family */
  --font-family-poppins: "poppins", sans-serif;
  --font-family-inter: "inter", sans-serif;
  --font-family-pixel: "vt323", monospace;
  --font-family-pixelsans: "pixelify sans", sans-serif;
}
@layer utilities {
  .flex-center-all {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-center-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .aos-fadeup {
    animation: aos-fadeup 3s ease-out;
  }
  .animated-gradient-text {
    background: linear-gradient(
      40deg,
      #0000ff,
      #22137a,
      #ae00ff,
      #a73bff,
      #82038d,
      #931897,
      #880288,
      #6323b8,
      #0000ff
    );
    background-clip: text;
    background-size: 400% 400%;
    animation: diagonal-flow 10s linear infinite;
  }
  .easeout600 {
    transition: all;
    transition-duration: 600ms;
    transition-timing-function: ease-out;
  }
}
@layer base {
  @keyframes aos-fadeup {
    from {
      opacity: 0;
      scale: 0.5;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  @keyframes diagonal-flow {
    0% {
      background-position: 0% 50%;
    }
    25% {
      background-position: 100% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    75% {
      background-position: 0% 100%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
