
@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=VT323&display=swap");
@theme {
  /* Definisikan warna-warna kustom Anda di sini */
  --color-primary: #121212;
  --color-card: #ffffff;
  --color-secondary: #eef2ff;
  --color-font-primary: #f9f9f9;
  --color-button: #16a34a;
  --color-shadow: #d1d5db;
  --color-card-font: #1f2937;

  /* Definisikan font family */
  --font-family-poppins: "poppins", sans-serif;
  --font-family-inter: "inter", sans-serif;
  --font-family-pixel: "vt323", monospace;
  --font-family-pixelsans: "pixelify sans", sans-serif;
}
@utility typing {
  border-right: 5px solid black;
  overflow: hidden;
  white-space: nowrap;
  max-width:660px;
  width:100%;
  animation: type 10s steps(40, jump-none) infinite, cursor 0.9s step-end infinite;
}
@keyframes type {
  0% {
    width: 0%;
  }
  15% {
    width: 100%;
  }
  75%{
    width: 100%;
  }
  90% {
    width: 0%;
  }
  100% {
    width: 0%;
  }
}

@keyframes cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
